<!DOCTYPE html>

<html>
    <head>
        <title>Finansur</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/index.css">
        <style>
            table { 
                width: 750px; 
                border-collapse: collapse; 
                margin:50px auto;
            }

            tr:nth-of-type(odd) { 
                background: #eee; 
            }

            th { 
                background: #3498db; 
                color: white;
                font-weight: bold; 
            }

            td, th { 
                padding: 10px; 
                border: 1px solid #ccc; 
                text-align: center; 
                font-size: 18px;
            }

            form {
                margin: 0 auto;
                width: 800px;
                margin-top: 180px;
                margin-bottom: 40px;
            }

            .cargando {
                width: 100%;
                height: 100%;
                overflow: hidden; 
                top: 0px;
                left: 0px;
                z-index: 10000;
                text-align: center;
                position:absolute; 
                background-color: #FFFFFF;
                opacity:0.8;
                filter:alpha(opacity=50);
            }
        </style>
    </head>
    <body>
        <header>
            <img src="/logo.png">
            <h1>Finansur</h1>
            <h2>Solidez y Confianza</h2>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Consultar</a>
                        <ul>
                            <li><a href="/mostrarcotizacion">Cotizacion del Bitcoin</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <form action="/mostrarcotizacion" method="get">
            <div id="Refrescar" style="display:none;" class="cargando">
                <img style="margin-left: 1%;margin-top: 15%" alt="Calculando Cotizacion..." src="Consultar.gif"/>
                Refrescar Cotizaciones...
            </div>
            <fieldset style="width:400px;">
                <legend align='center'>
                    <strong>Datos Cotizacion  <span th:text="${#dates.format(#dates.createNow(),'d-M-yyyy HH:mm')}"></span></strong>
                </legend>   

                <table border="1" class="table">
                    <tr>
                        <td><strong>Proveedor</strong></td>
                        <td><strong>Modena</strong></td>
                        <td><strong>Precio</strong></td>
                        <td><strong>Fecha</strong></td>
                    </tr>

                    <tr th:each="cotizacion : ${listadoCotizacion}">
                    <div th:if="${cotizacion.moneda} != null">
                        <td th:text="${cotizacion.proveedor}"></td>
                        <td th:text="${cotizacion.moneda}"></td>
                        <td th:text="${#numbers.formatDecimal(cotizacion.precio, 1, 'POINT', 2, 'COMMA')}"></td>
                        <td th:text="${#dates.format(cotizacion.fecha,'d-M-yyyy HH:mm')}"></td>
                    </div>
                    <div th:if ="${cotizacion.moneda} == null">
                        <td th:text="${cotizacion.proveedor}"></td>
                        <td colspan='3' align='center'><strong>(El proveedor no se encuentra disponible)</strong></td>
                    </div>
                    </tr>    
                </table>       
                <table border="0" >
                    <tr>
                        <td align="center">
                            <input type="Submit" value='Refrescar' onclick="document.getElementById('Refrescar').style.display = 'block';">
                        </td>
                    </tr>
                </table>
            </fieldset> 
        </form>
        <footer>
            <p>Finansur</p>
        </footer>
    </body>
</html>
